@import "xeha.rasi"

window {
    width:             25%;
}

listview {
    lines:             -1;
    columns:           1;
    fixed-height:      false;
}

element-text {
    horizontal-align:  0.5;
}
