@import "xeha.rasi"

window {
    width:             28%;
}

listview {
    lines:             5;
    columns:           1;
    fixed-height:      false;
}

element-text {
    horizontal-align:  0.5;
}
